
/*装置时间*/
.applianceTime{
    height: .44rem;
    margin-left: .56rem;
    line-height:44px ;
    margin-bottom: .38rem;
}

.applianceTime p{
    font-size:18px;
    font-weight:400;
    color:rgba(132,137,154,1);
    float: left;
}
/*时间输入框*/
.applianceTime input{
    width:3.40rem;
    height: .42rem;
    border: 1px solid rgba(195,198,210,1);
    margin: 0 .25rem 1px .20rem;
    vertical-align:middle;
    font-size:20px;
    text-align: center;
    line-height: 16px;
    color:rgba(46,52,78,1);
}
/*校准按钮*/
.calibration{
    width:1.20rem;
    height:.44rem;
    background:rgba(106,204,117,1);
    border-radius:4px;
    border:none;
    font-size:18px;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin-right: 12px;
    vertical-align: middle;
}
/*手动按钮*/
.present{
    width:.60rem;
    height:.44rem;
    background:rgba(92,164,255,1);
    border-radius:4px;
    border:none;
    font-size:18px;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:16px;
    vertical-align: middle;
}
/*底部表格*/
.parameter table{
    width: 96%;
    text-align: center;
    border: 1px solid rgba(229,231,238,1);
    border-right:none ;
    position: absolute;
    bottom: .38rem;
}
.parameter table th{
    background:rgba(229,231,238,1);
    height: .44rem;
    font-size:18px;
    font-weight:400;
    color:rgba(132,137,154,1)
}
.parameter table td{
    height: .71rem;
    border-right: 1px solid rgba(229,231,238,1);
    font-size:22px;
    font-weight:400;
    color:rgba(46,52,78,1);
    line-height:16px;
}

